.scroll-container {
  height: auto;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 800;
}

.viewport {
  box-sizing: border-box;
  width: 100%;
  padding-top: 5px;
  overflow: auto;
  position: relative;
  height: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.list-container {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
